extends base.pug
include mixins/video

block content 
    form(mothod="GET")
        input(placeholder="Search by Title", type="text", name="keyword")
        input(type="submit", value="Search now")

    each video in videos
        +video(video)